[2014-01-31 05:04] ajmueller opened #1 "Do we need position: relative on the semantic grid column mixin?"
This seems to be unnecessary.  Perhaps it was put in place as a "hasLayout" bug fix for older versions of IE, but positioning is not set for columns in the non-semantic grid.

[2014-01-31 19:38] stoff opened #2 "Add _resources/css/style.css to .gitignore"
keep style.css out of commits

[2014-01-31 20:43] #2 closed, assigned to ajmueller

[2014-03-05 18:41] ajmueller opened #5 "Browserify breaks respond.js"
@kamsar, Browserify breaks respond.js.  The code that it injects at the top of the file makes it so IE8 throws a JS error.  For now I've commented out the Browserify line in the js.js config file, but this is definitely a short-term solution.

For the long-term we definitely need to work out how Browserify will work with our JavaScript.  It's likely that re-structuring our files such that files fo

[2014-04-18 17:45] stoff opened #9 "Add jshint/lint globals to prevent excessive errors"
Currently require and module tokens throw jslinting errors. We should define a /_global_/ directive at the top of the files to reduce linting errors.

[2014-04-18 18:00] #9 closed, assigned to stoff

[2014-04-20 19:09] ajmueller opened #12 "Normalize custom select sizing"
Custom selects need to have their sizing normalized through variables.  Create a variable for input height and make adjustments accordingly.

[2014-04-27 01:22] ajmueller opened #13 "Documentation CSS should be its own file"
The documentation CSS should be its own file, not a module.

[2014-04-27 02:12] ajmueller opened #14 "oldie class is missing from head.php"
The oldie class is used in the SCSS, but is not present in the default head.php file.

[2014-04-27 02:14] #5 closed, assigned to nobody

[2014-04-27 02:47] #14 closed, assigned to nobody

[2014-04-27 02:54] #13 closed, assigned to ajmueller

[2014-04-27 03:26] #12 closed, assigned to nobody

[2014-06-10 20:07] ajmueller opened #15 "Clean up browser reset comments"
Normalize has a lot comments that get output in the compiled CSS.

[2014-06-10 20:07] ajmueller opened #16 "File watcher for HTML files"
We have a PHP file watcher; we should also have one for HTML files.

[2014-06-10 20:08] ajmueller opened #17 "Color name convention"
The name convention for colors needs to be consistent:

$colorColornameColornamemodifier, e.g. $colorBlueDark

[2014-06-10 20:09] ajmueller opened #18 "List of column widths for push and pull"
We need a new list similar to $enabledColumns that enables column widths for push and pull.

[2014-06-10 20:15] #17 closed, assigned to nobody

[2014-06-10 20:32] #15 closed, assigned to nobody

[2014-06-10 20:53] #16 closed, assigned to nobody

[2014-06-17 14:07] ajmueller opened #20 "Remove dependency on box-sizing mixin"
Rather than use the box-sizing mixin to define the border-box value to the box-sizing property, we should apply border-box to all elements.

http://www.paulirish.com/2012/box-sizing-border-box-ftw/

[2014-06-18 17:06] ajmueller opened #21 "Rename _resources"
_resources is a confusing name for those who aren't familiar with our structure.  With a looming public release of this project, we should rename the _resources folder to something more standard across the industry.  I recommended the name "assets" in our FED meeting.  Let's discuss possible names.

[2014-06-21 23:29] ajmueller opened #22 "Remove constructor files"
Since @devinrayolsen is working on a separate project that acts as a builder, we can get rid of the current constructor files.

[2014-06-26 17:03] #22 closed, assigned to nobody

[2014-07-08 19:37] #20 closed, assigned to nobody

[2014-07-25 23:59] ajmueller opened #29 "CSS Optimizer"
There is a Gulp plugin for CSS optimization that I think is worth a look.

https://www.npmjs.org/package/csso

[2014-07-30 14:27] ajmueller opened #30 "BrowserSync"
This is a possible replacement for LiveReload and supports multi-device reloading.

http://www.browsersync.io/docs/gulp/

[2014-07-30 16:46] #21 closed, assigned to nobody

[2014-08-08 04:35] kamsar opened #34 "JS organization"
Let's face it, the stock JS organization in Phoenix right now is suboptimal. Libraries are haphazardly thrown about, old and ghetto internal tools abound, etc.

I happen to be a big fan of the way Jeremiah and Justin have been organizing the JS for Meadows:
- js (root contains only Browserify root dependency files, like _all for scss)
  - lib (libraries, third party or isite, designed to be consum

[2014-08-13 03:00] #30 closed, assigned to nobody

[2014-08-13 06:50] #29 closed, assigned to nobody

[2014-08-15 10:34] ajmueller opened #36 "License"
As we get near release it's a good idea to begin thinking about licensing.  Since the project will be open source and is built around open source projects, we need to make sure the licensing is done properly considering any dependencies and libraries we use.  I've been careful throughout development to choose code that is openly available, so this shouldn't be an issue, I'd just like to begin a di

[2014-08-28 17:27] ajmueller opened #40 "Mixin vs. Placeholder Audit"
Some of our mixins, such as the icon mixin, would be better served as placeholder classes since they don't require any parameters.

[2014-08-29 01:02] ajmueller opened #41 "Change radio buttons and checkboxes to use Icomoon."
I used Icomoon for the radio buttons and checkboxes on BMC and it worked really well.

[2014-08-29 01:19] ajmueller opened #42 "High DPI Examples"
Add examples of high DPI image usage, e.g. logo.

[2014-08-29 02:00] ajmueller opened #43 "Fix base font"
The $baseFontFamily variable is set to Source Sans Pro, but our head.php file is using Open Sans from Google Fonts.

[2014-08-29 02:18] ajmueller opened #44 "IE8 layout bugs"
There are some layout bugs in IE8 in our standard templates.  Specifically:
- template-test.php header width
- complex layout test

[2014-08-29 02:20] #1 closed, assigned to ajmueller

[2014-08-29 02:28] #43 closed, assigned to ajmueller

[2014-08-29 15:13] ajmueller opened #48 "Move grid mixins to mixins directory"
These mixins should really just exist in the mixins directory.  Steps:
- move mixin files; keep separate "grid" directory for cleanliness in mixins directory
- update documentation comments in files

[2014-09-04 14:56] ajmueller opened #49 "Older browser support variable"
In light of recent events with the work I've been doing on #47, it seems that we could use something that marks whether you wan to support older browsers or not, notably IE8.  There are a few tweaks sprinkled throughout the code that are fixes for IE8 and older (they mostly rely on an "oldie" body class context), but others have surfaced such as the addition of Icomoon-based checkboxes and radio b

[2014-09-04 15:18] #34 closed, assigned to nobody

[2014-09-11 00:43] #49 closed, assigned to ajmueller

[2014-09-17 03:00] #40 closed, assigned to ajmueller

[2014-09-17 03:00] #48 closed, assigned to ajmueller

[2014-09-17 03:03] #41 closed, assigned to ajmueller

[2014-09-17 03:05] #42 closed, assigned to ajmueller

[2014-09-17 03:52] ajmueller opened #52 "Github.io Docs and Pattern Primer"
The github.io docs (http://isitedesign.github.io/Phoenix/) are becoming cumbersome to maintain; they are in the gh-pages branch of the project and contain the full documentation already located in `documentation` in the project's other branches.  Since the gh-pages are hosted on github.io, you can only use HTML and not PHP, so that means copying and editing the `documentation/index.html` and `docu

[2014-09-22 20:42] ajmueller opened #53 "Modernizr alternative"
Browsernizr could be a possible replacement for a local version of Modernizr.  Christoph is going to test this on CTGR and let us know how it goes.

https://github.com/jnordberg/browsernizr

[2014-09-22 20:50] ajmueller opened #54 "IE8 Support and Respond.js"
Do we want to continue to use respond.js to support IE8?  Perhaps we should implement an IE8 specific stylesheet?  Or a mixin that automatically applies ~960px styles in an `.oldie` context?  Or just let IE8 get mobile styles?

[2014-09-24 00:36] ajmueller opened #55 "Image function returns extra trailing slash"
The `str_slice` function isn't working as expected and doesn't pick up if a directory string ends with a slash, thereby adding an extra trailing slash if the directory does end with a slash.

[2014-09-24 20:11] stoff opened #56 "Should we include appendaround"
I've gone out and grabbed appendaround (https://github.com/filamentgroup/AppendAround) for each of the last three projects I've worked on.  I think we're all using it fairly regularly, so I think it would be good to include it with the other JS Phoenix supplies.

[2014-09-24 21:33] ajmueller opened #57 "Put jQuery on the global namespace"
jQuery is quite handy to have on the global namespace; let's add it.  This will allow us to keep plugins as drop-in files.

[2014-09-25 14:36] ajmueller opened #59 "Touch icon size"
With the introduction of the iPhone 6 and 6 Plus, touch icons should be larger once again.

https://developer.apple.com/library/ios/documentation/userexperience/conceptual/mobilehig/iconmatrix.html

Thoughts on making the icon larger than the 180x180 size here?  The OS will scale them down and this will potentially eliminate the need to increase the size again.

[2014-10-03 18:16] ajmueller opened #61 "Change base grid to 12 columns"
Designs lately have been mostly 12 column grids, so let's make the base a default of 12.

[2014-10-03 20:52] #44 closed, assigned to ajmueller

[2014-10-03 21:00] #55 closed, assigned to ajmueller

[2014-10-03 21:02] #57 closed, assigned to ajmueller

[2014-10-03 21:24] #59 closed, assigned to nobody

[2014-10-03 21:54] #52 closed, assigned to ajmueller

[2014-10-03 21:54] #61 closed, assigned to ajmueller

[2014-10-03 22:16] #36 closed, assigned to ajmueller

[2014-10-06 17:37] ajmueller opened #63 "Add *-up classes to Style Guide"
The two-up, three-up, and four-up classes would be very helpful.

[2014-10-06 17:40] ajmueller opened #64 "Mobile Navigation Patterns"
We should add examples of common mobile navigation patterns so they don't need to built from scratch every time.

[2014-10-06 17:40] ajmueller opened #65 "Revamped Style Guide"
A more fleshed out Style Guide, such as http://demo.patternlab.io/.

[2014-10-06 19:40] #63 closed, assigned to ajmueller

[2014-10-07 14:55] ajmueller opened #66 "Responsive Images"
I'd like to add some examples of responsive images.  Opera has a great page with code snippets we can start from:

https://dev.opera.com/articles/responsive-images/

@kamsar, I believe you did some work with this in Sitecore?

[2014-10-08 17:23] ajmueller opened #67 "Grid System Enhancements"
Before launch, the grid system could use some cleanup.  This closes #18 as it will include that work.  Here are the goals:
- Add a list of push/pull enabled column widths (#18).
- Remove the hybrid grid.

~~If time permits~~ Future features (will create separate issues for these):
- Re-do gutters to be external to columns (space between columns) as well as padding internal to columns.  This is a c

[2014-10-09 00:25] ajmueller opened #68 "Application of Grid System Gutters"
Re-do gutters to be external to columns (space between columns) as well as padding internal to columns.  This is a common feature of other grid systems and is how systems like [Grid Pak](http://gridpak.com) work.

[2014-10-09 00:27] ajmueller opened #69 "Dynamic Column Count"
Add the ability to dynamically provide a column count context. This will require a rewrite of most of the grid-calc functions.  By default our grid system uses a 12 column grid, but if you want to use a 6 column grid for smaller containers, there is currently no easy way to do so.  This would change all grid-calc functions and grid mixins to default to the grid system count, but add an additional

[2014-10-09 00:31] #67 closed, assigned to ajmueller

[2014-10-09 00:31] #18 closed, assigned to nobody

[2014-10-10 16:24] elseloop opened #72 "Add error handling coverage for Sass mixins & functions"
It could be good to take advantage of Sass's built-in error handling and write in some coverage for Phoenix's Sass mixins and functions. While the Gulp tasks already give some pretty clear messaging, we can make it a lot more specific, which might be good for people coming to Phoenix for the first time.

For instance, if you were to pass a string to the `parseInt()` function, Gulp will tell you "e

[2014-10-14 18:59] ajmueller opened #74 "Flexbox Support"
What can we build for flexbox support with a fallback to our current grid system?

[2014-10-14 19:01] ajmueller opened #75 "Simplified Clearfix"
The `:before` rule is unnecessary for clearfix considering we only need to support IE8 and newer.  http://stackoverflow.com/a/8554054/1489958

[2014-10-16 15:26] #75 closed, assigned to ajmueller

[2014-10-22 16:45] ajmueller opened #77 "Vertical Rhythm"
Vertical rhythm and spacing between elements is something that should be easily and universally defined.  Using techniques such as the [Lobotomized Owl Selector](http://alistapart.com/article/axiomatic-css-and-lobotomized-owls) and [Modular Scale](https://github.com/at-import/modular-scale) we can make this a simple thing to adjust on our sites.

[2014-11-05 22:29] obrogaming opened #79 "Functions/Mixins have conflicting global and local variable names."
For our project we opted to use our existing scss compiler [http://leafo.net/scssphp/](http://leafo.net/scssphp/)  vs node. Everything ports over perfectly, except one little tweak that I think might be worth mentioning for others.

Also I'm hesitant to call this an issue, but if source is updated with the fix below, this will ensure that Phoenix could work on a number of other compiler platforms

[2014-11-06 21:02] ajmueller opened #80 "Accessibility Class on Android 4.1"
On a recent project, I had an issue with the accessibility class on Android 4.1 where its application to an anchor resulted in the anchor's text being displayed in the viewport:

![image](https://cloud.githubusercontent.com/assets/1442179/4943805/02c70006-65f8-11e4-9588-2844bd5340c5.png)

The fix that I found in this case was to change the accessibility class to have the following styling:

[code]

[2014-11-07 12:32] obrogaming opened #81 "@mixin column() could be more flexible in breakpoint definitions."
Be nice if given a global variable within /variables/_grid.scss that would allow us to define the responsive breakpoint value used @mixin column() (/mixins/grid/_semantic-grid.scss) that is currently a fixed value instead. Might even be better to allow us to also pass a breakpoint value to @mixin column(), while also having a global breakpoint fall-back variable as well.

Seems very fixed right no

[2014-11-07 15:18] ajmueller opened #82 "Sass Map Support"
I'd like to add Sass map support with our compiler to allow for features like #81 as well as cleanup of the breakpoints "map" and respond mixin.  [Libsass did release map support](https://github.com/sass/libsass/releases/tag/3.0) which has [trickled into node-sass](https://github.com/sass/node-sass/releases/tag/v1.0.0) and I just need to find out when that feature will be supported in [gulp-sass](

[2014-11-07 17:16] ajmueller opened #83 "Dropping IE8 Support"
This is still pretty far away as almost all of our clients still require IE8 support, but I wanted to begin documenting what changes will need to be made for this so development is clean and clear when the time does come.  Here's a first list of tasks:

- Upgrade to jQuery 2
- Test all plugins and code to ensure compatibility with jQuery 2
- Remove application of nth-child classes to *-up classes

[2014-11-07 19:09] ajmueller opened #84 "Print Styles and Mixin"
As part of a recent client project, print styles were very important.  In addition, our current respond mixin doesn't account well for multiple media types, so it should be amended to add support for print.  As discussed, a good starting point would be [HTML5 Boilerplate's print CSS](https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L211).  The assumption will be that print st

[2014-11-25 19:23] ajmueller opened #87 "Aspect Ratio with Pseudo Element"
On a client project recently we needed to limit the width of videos.  To maintain aspect ratio, but also restrict width, the aspect ratio mixin had to be altered.  This is what we used:

[code]

This will require some more testing, but it should be a good enhancement to the functionality.

[2014-12-10 20:50] ajmueller opened #88 "Template Count with Gulp Watch"
The Gulp watch build will build, but not watch, if you have more than 8 files in a directory or sub-directory of `templates`.  You can have up to 8 files per directory, so it is not a sum of all files in `templates`.

[2014-12-10 21:20] chadian opened #89 "Removing PHP/Server dependency for templates"
Commonly our templates depend on PHP to be viewed, but not everyone is running PHP in their stack.

An easy option I can think of is to include a php2html gulp build process. We would then have files that would be deployable anywhere, and not rely on a server either since no server-side processing is required. Clients could open static html on their own machines (or with apps iPhones, iPads, Andro

[2014-12-12 17:04] elseloop opened #90 "Automate Image Sprites"
One of the greatest strengths of Compass is its ability to create image sprites on the fly. This proves really handy not only in saving time, but also in instances where you have a series of elements with background images that you can loop through and assign with some common naming conventions. It can also get really, really slow.

I'd like to investigate bringing in some non-Ruby solution to thi

[2014-12-17 23:28] ajmueller opened #91 "Decorator for multiple select elements"
Select elements with the multiple attribute will behave strangely with our current decorator.  Let's add styling for the multiple select that matches that of the single select.

[2014-12-18 00:38] ajmueller opened #92 "Controls on Google Maps are squished"
The controls on Google Maps get squished due to the `max-width: 100%;` rule we have on our media defaults.

![image](https://cloud.githubusercontent.com/assets/1442179/5481768/f2762a32-860a-11e4-92e9-a6fa0b7dbe84.png)

[2014-12-18 18:40] stoff opened #93 "Use generated content bullets on uls"
**Rationale**

By using generated content we can insert a unicode bullet and normalize the appearance of bullets across all platforms.

**Documentation needs**

It would be good to document drawbacks - bullets on nested uls will appear the same - no switching to disc, etc.  If this is desired, this style needs to be overridden for nested uls. For most applications, however, indentation seems to pr

[2014-12-23 01:50] ajmueller opened #94 "Production Build Issues"
We are having multiple issues with the production build:

1. References to assets are not being renamed in PHP files, therefore they are not being loaded.
2. Selectors are being combined when they share properties and values, which is causing problems for Icomoon in IE8 (due to the need for a [separation of icon selectors](https://github.com/isitedesign/Phoenix/blob/master/Assets/src/css/base/defa

[2015-01-08 23:25] ajmueller commented on #94
Validated on release branch.

[2015-01-08 23:28] ajmueller commented on #88
Validated on release branch.

[2015-01-08 23:32] ajmueller commented on #84
Validated on release branch.

[2015-01-08 23:32] #84 closed

[2015-01-08 23:32] #94 closed

[2015-01-08 23:33] #88 closed

[2015-01-08 23:33] ajmueller commented on #80
Validated on release branch.

[2015-01-08 23:33] #80 closed

[2015-01-08 23:34] ajmueller commented on #68
Validated on release branch.  Note that vertical spacing improvements will come as part of #77.

[2015-01-08 23:34] #68 closed

[2015-01-09 00:31] ajmueller commented on #82
As @kamsar pointed out, updating the dependencies, particularly gulp-sass, has led to map support as of release 1.0.2.

[2015-01-09 00:31] #82 closed

[2015-01-09 00:33] ajmueller opened #99 "Use Sass Maps for Breakpoints"
Currently we use a list hack for breakpoints, but with sass map support in release 1.0.2, we should use maps instead.

[2015-01-09 21:27] ajmueller commented on #87
Pull request #101 created.  @chadian, I know you'd like to see some differences in the pseudo element to allow for multiple children.  Can you provide some examples where this could really come in handy, but retain the usage for a single child?

[2015-01-09 21:43] ajmueller commented on #89
Closing this based on above discussion.

[2015-01-09 21:43] #89 closed

[2015-01-09 22:29] ajmueller commented on #93
Pull request opened (#103).  Please take a look and let me know of any issues you find.

[2015-01-09 23:20] ajmueller opened #105 "Update mixins and functions to use maps for optional parameters"
Currently there are many mixins that have multiple optional parameters, which can lead to including more parameters than you'd like in some mixin calls.  If we change all optional parameters to use maps, we can avoid this situation.

[2015-01-13 17:59] elseloop commented on #74
This could be a good resource here: http://chriswrightdesign.com/experiments/flexbox-adventures/

[2015-01-13 18:15] ajmueller commented on #74
I saw Jonathan Snook tweet this the other day and had the great intention of reading it and saving it here, but I didn't.  Thanks!  :+1:

[2015-01-14 01:54] ajmueller commented on #74
Some other resources:
- http://css-tricks.com/snippets/css/a-guide-to-flexbox/
- http://philipwalton.github.io/solved-by-flexbox/

Initial thoughts:
- we could redo the entire "two-up, three-up, four-up" concept in flexbox and make its implementation with nth-child rules a thing of the past
- while flexbox could be used for our grid system, the [Grid spec](http://css-tricks.com/snippets/css/comple

[2015-01-15 21:19] ajmueller commented on #74
This will benefit greatly from the work in #105, so this is a dependency on it.

[2015-01-15 21:22] ajmueller opened #106 "Gutters on semantic grid columns"
Since we've added gutters to the basic grid, the semantic grid should get the same treatment.  This is another ticket that will benefit greatly from #105, so I'm marking this as a dependent.

[2015-01-16 00:03] ajmueller commented on #72
This looks like another ticket that is dependent on #105.

[2015-01-16 02:17] ajmueller opened #107 "Gradient Mixin Enhancements"
Now that we have the ability to use Sass maps, we can enhance our gradient mixin pretty easily.  Some possibilities:

- multiple color stops
- direction choice
- radial gradient (perhaps better served as a separate mixin?)

Dependent on work in #105.

Thoughts?

[2015-01-16 02:31] ajmueller commented on #105
These changes are dependent on #99 (specifically the em function).

[2015-01-16 03:01] ajmueller commented on #99
Closing this and rolling work into #105.

[2015-01-16 03:01] #99 closed

[2015-01-16 03:02] ajmueller commented on #105
Removing dependency and rolling #99 into this ticket.

[2015-01-16 19:32] elseloop commented on #72
As of [1.0.2](https://github.com/isitedesign/Phoenix/releases/tag/1.0.2), while we’ve gained Sass support for `@error`, it looks like the build system updates and enhancements made by @kamsar in #97 have eliminated our ability to output Sass errors and warnings. In testing this, it seems Plumber throws a fatal error before the Sass `@error` message an be parsed, so the custom messages in our `.scs

[2015-01-16 23:57] elseloop opened #109 "Update documentation process"
As @ajmueller notes in #108, our current documentation “is sub-optimal due to limitations of sassdoc.” We should explore some new options for generating and expanding our documentation.

**Some considerations:**

*  It would be nice to remove the Ruby dependency entirely from Phoenix, preferably using a JS-based solution we can roll into our existing build system.
*  We shouldn't give up any featu

[2015-01-19 20:40] HugoGiraudel commented on #109
What are those limitations please @elseloop?

[2015-01-19 22:39] ajmueller commented on #109
@HugoGiraudel in looking at newer versions of sassdoc, it looks like you guys have addressed the limitations (we originally wrote the documentation over a year ago and had simply been following the original paradigm since).  We just haven't looked into a new documentation tool (or new version of sassdoc) for some time.  Some of the original limitations were:

- documenting for functions and mixins

[2015-01-20 08:20] HugoGiraudel commented on #109
@ajmueller Actually I realized after posting my comment that you were using a completely different version of SassDoc. The one you used has nothing to do with today's SassDoc whatsoever. Not the same team, not the same language, not the same features and not the same goal.

We are about to release v2 of https://github.com/sassdoc/sassdoc. Docs can be found here: https://sassdoc.com/develop/.

Chee

[2015-01-20 16:19] ajmueller commented on #109
Awesome, thanks!  I saw the tweet about v2 yesterday and will definitely be checking it out.

[2015-01-20 21:13] ajmueller commented on #81
Now that we have Sass map support as of release 1.0.2, this is something that we can begin to explore more.  I've also marked this as a dependent since it will rely on the changes made in #105, which have been merged into the development branch.  Some initial thoughts here:

- What do we define at each breakpoint?  Just width via column count?  How about padding, alignment, and the shifted and nes

[2015-01-20 21:54] ajmueller commented on #79
Is `$columns` the only variable that causes problems that you ran into?  Rather than renaming variables throughout the codebase, what if we renamed the global `$columns` variable to something like `$gridColumnCount` or something that's more pointed in its name?

[2015-01-29 02:02] ajmueller commented on #83
Work for this is going to start now on its own branch for a (somewhat distant) future release.  Due to some upcoming client projects where we don't need to support IE8 we can begin this work now, but it's likely that we won't want to remove IE8 support from the master branch for several months.

[2015-01-29 02:24] ajmueller commented on #83
Branch:  [feature/remove-IE8-support](https://github.com/isitedesign/Phoenix/tree/feature/remove-IE8-support)

[2015-01-29 02:27] ajmueller commented on #54
Closing in favor of work being done in #83.

[2015-01-29 02:27] #54 closed

[2015-01-29 15:30] ajmueller commented on #107
Here's a nice blog post by Hugo Giraudel about building a solid gradient mixin: http://www.sitepoint.com/building-linear-gradient-mixin-sass/

[2015-01-30 17:16] #87 closed

[2015-01-30 17:16] #91 closed

[2015-01-30 17:16] #92 closed

[2015-01-30 17:16] #93 closed

[2015-01-30 17:27] #105 closed

[2015-01-30 23:08] ajmueller commented on #74
Another place we could use flexbox:  tabs.  Rather than having to worry about max-widths for tabs, we can use flexbox to fill the available space no matter how many tabs we have.

[2015-01-30 23:36] ajmueller commented on #83
To-do:  remove extraneous [`%icon-config` placeholders](https://github.com/isitedesign/Phoenix/blob/master/Assets/src/css/base/defaults/_icons.scss#L21-L28).

[2015-02-05 22:39] ajmueller commented on #74
Another resource from @elseloop: http://chriswrightdesign.com/experiments/using-flexbox-today/.

[2015-02-12 18:59] chadian opened #116 "Built CSS doesn't save to specified output directory"
Running latest version of Phoenix @ 412139514bfce9f622c98dba8034b11e96e0a271 and specifying the output path doesn't move the files to the expected output path.

Example driver for css within gulpfile.js:
[code]

It looks like everything is fine up to `var stream = through2.obj(saveFile);` in `Assets/src/node_modules/gulp/node_modules/vinyl-fs/lib/dest/index.js` but possibly fails within the `saveF

[2015-02-13 16:06] ajmueller opened #117 "More meaningful color names"
@elseloop's work on #114 got me to thinking more about colors and how we name them.  We should come up with a nomenclature for colors that is more indicative of the color's use, such as "action" for buttons and anchors or "accent" for featured areas of sites.  There are a lot of opinions and options out there and we should discuss them to figure out what's right for this project.

Some resources:

[2015-02-13 16:10] ajmueller opened #118 "Icon Map"
Similar to @elseloop's work on turning our `$colors` variable to a map, we should do the same with our icons for Icomoon.

[2015-02-13 16:13] ajmueller commented on #118
From http://ericsuzanne.com/pres/map-magic/:

[code]

[2015-02-13 22:42] chadian commented on #79
Based on the example this doesn't seem to be an issue with the way variables are setup. Checkout http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variable_scope_and_content_blocks at `Variable Scope and Content Blocks`, and see their example. Only `@content` blocks passed into a `@mixin` retain their variable scope.

Variables not passed in should fall back to global. In the case of
[co

[2015-02-20 16:28] ajmueller commented on #79
@obrogaming, @chadian and I discussed this at length last week and based on his tests and explanation above, I'm going to close this.

[2015-02-20 16:28] #79 closed

[2015-02-20 16:32] ajmueller commented on #106
This has been merged into dev for the next release.  Closing.

[2015-02-20 16:32] #106 closed

[2015-02-20 17:29] ajmueller commented on #72
As we noticed in #114, `@warn` is outputting twice.  As part of adding better warnings to our functions and mixins, could you investigate the double output further?

[2015-02-20 20:05] ajmueller commented on #109
@elseloop I've started a feature branch for this work:  https://github.com/isitedesign/Phoenix/tree/feature/sassdoc-2.  So far I've only removed the references to the old Sassdoc to give us a clean slate from which to start.  Let me know if you'd like a hand in getting this started.

[2015-02-25 21:47] kamsar opened #119 "WOFF2 support"
@jbascue used a woff2 font recently (.woff2) and the build does not copy woff2 files by default. It probably should (simple change to gulpfile I'm too lazy to PR) ;)

[2015-02-25 22:12] jbascue commented on #119
Love me some .woff2
On Wed, Feb 25, 2015 at 1:47 PM Kam Figy <notifications@github.com> wrote:

[2015-03-02 20:30] ajmueller opened #124 "Radio Buttons and Checkboxes with SVGs"
As an alternative to the current method of using an icon font for custom radio buttons and checkboxes, on a recent project we uses SVGs because they needed to have multiple colors.  The only downside to this method is that the SVGs won't automatically scale with the label's font-size.  On the upside, though, you can have multiple colors, reduce the icon font weight, and base64 encode the SVGs to b

[2015-03-05 07:07] stoff opened #125 "Optional cache-busting"
It's come up a few times now that cache busting is not a good fit for CMS platforms that exercise some degree of control over CSS and other assets (think Drupal or Wordpress). In order to better accommodate these or similar systems, we should make cache-busting optional.

I've created [feature/optional-cache-busting](https://github.com/isitedesign/Phoenix/tree/feature/optional-cache-busting) demon

[2015-03-05 19:00] kamsar commented on #125
Seems legit. BTW looks like you might need to set email on your gitconfig as that commit is from 'unknown'

[2015-03-09 14:48] ajmueller commented on #125
Great idea @stoff.  Could you make a PR for this?  It seems simple enough to review quickly this week and get into the Friday release.

[2015-03-09 15:09] stoff commented on #125
Per discussion with @ajmueller I've one other piece to add: remove the cache busting from the img/content directory, since those items should be managed by a CMS.  I'll add a commit for that and make a PR in the next day or so.

[2015-03-09 17:47] stoff commented on #124
Also SVGs look less fuzzy - they don't get the font anti-aliasing.

some great reading - these sources point to using inline SVGs, which is outside the scope here, but most of the same benefits apply:
http://ianfeather.co.uk/ten-reasons-we-switched-from-an-icon-font-to-svg/
https://css-tricks.com/icon-fonts-vs-svg/

[2015-03-10 15:44] elseloop commented on #124
Just came across this article about caching SVG sprites using localstorage. Thought it might fit in this conversation as well if we go further down the SVG path (PUN!) than just checkboxes and radio buttons:

http://osvaldas.info/caching-svg-sprite-in-localstorage

[2015-03-12 01:23] ajmueller commented on #109
@elseloop have you had a chance to begin any implementation of Sassdoc 2?  I'm having trouble getting it to recognize comments in files that aren't at the top of the `css` directory on a client project.  Anything contained within `functions`, `mixins`, etc. is ignored.  One thing I changed that I thought would fix it is the `paths` variable for the CSS driver.  It was `'./css/*.scss'` and I change

[2015-03-12 09:47] HugoGiraudel commented on #109
If you truly have an issue with your set up, feel free to open an issue on the official repository so we can help you.

[2015-03-12 14:52] ajmueller commented on #109
Thanks @HugoGiraudel.  I have a feeling it might be how we structure our build scripts, so I'm going to test it more before I create an issue.

One question, though:  does Sassdoc follow `@import` statements?

[2015-03-12 15:58] HugoGiraudel commented on #109
One question, though: does Sassdoc follow @import statements?

Nope. SassDoc usually runs on a folder (with optional exclude patterns).

[2015-03-12 16:44] stoff commented on #125
Added filter for /img/content and created PR #126

[2015-03-12 20:23] ajmueller commented on #109
@HugoGiraudel the issue was due to me leaving in extra comments that I hadn't yet converted.  For instance:

[code]

If any comment is left there directly above the Sass item, no matter the content (even just a string), the annotations are ignored and not parsed into the Sassdoc generated documentation.  I can't think of an instance where this could be problematic since any comment you'd likely pu

[2015-03-13 09:38] HugoGiraudel commented on #109
This is the expected behaviour. To put it simply, a SassDoc compliant comment has to come directly before a valid item (function, mixin, placeholder or variable). If there is anything else than empty lines between them both, the comment is simply discarded.

[2015-03-13 14:19] ajmueller commented on #109
That's what I thought, but just wanted to check.  As I mentioned, this shouldn't really be an issue.  Thanks @HugoGiraudel!

[2015-03-13 15:44] ajmueller commented on #125
Closing since #126 is merged.

[2015-03-13 15:44] #125 closed

[2015-03-13 15:47] ajmueller commented on #66
Closing this since we've added a basic example in #120 that has been merged into development.

[2015-03-13 15:47] #66 closed

[2015-03-13 15:48] ajmueller commented on #118
Closing now that #123 is merged.

[2015-03-13 15:48] #118 closed

[2015-03-13 15:48] #119 closed

[2015-03-20 23:36] ajmueller commented on #109
Still on the to-do list:
- document `$options` maps
- clean up/provide better examples
- proofread
- theme
- better categorization of "General" (or rename others to match casing)
- define access of some functions?  Does anything other than the `number-as-words` function fit under private?

[2015-03-24 16:02] elseloop commented on #74
Just a drive-by comment to point out that [the Can I Use numbers for this](http://caniuse.com/#search=flexbox) are at a point where we can more or less safely use flexbox with smart fallbacks for IE9 and below. They're much better even than when this was opened only six months ago, even on mobile platforms.

[2015-03-24 16:06] ajmueller commented on #74
:+1:

[2015-03-24 16:10] elseloop commented on #74
More like

![](http://i.giphy.com/kViTiGaoqD0gU.gif)

[2015-03-24 16:15] ajmueller commented on #74
![What whaaaaat](https://31.media.tumblr.com/3ae5ef975b48f691ecf5674c62d1af4b/tumblr_mox3k0ozBF1snyijqo1_400.gif)

[2015-03-24 16:20] ajmueller commented on #74
One thing to consider that will need some research:  what flexbox features does autoprefixer prefix for us?  It would appear that [at least some are prefixed](https://github.com/postcss/autoprefixer-core#quick-example), but I don't know if it's smart enough to [auto adjust values](https://github.com/mastastealth/sass-flex-mixin/blob/master/flex.scss#L178) like some mixins have been written to do.

[2015-03-24 23:22] ajmueller commented on #74
Initial local test for that particular property (`order`):  autoprefixer does change it properly and auto increment it for older syntaxes when necessary.  As Dan pointed out, it seems our only need for mixins for flexbox will be to have fallbacks for older versions of IE that don't support flexbox at all.

[2015-03-27 02:05] ajmueller commented on #74
Some thoughts I had regarding flexbox features and potential fallbacks:
- Display
    - Fallback - use row mixin for container since it will be containing “columns” (the flex items).
- Order
    - Fallback - push and pull.
- Flex grow, flex shrink
    - Fallback - ideas?  This would either require display: table-cell or knowledge of sibling element sizes in order to keep elements from wrapping to

[2015-03-27 22:15] ajmueller opened #128 "Decorator Select Overflow"
On a recent project a Marketo form's validation message was being hidden because the `.decorator-select` class has `overflow: hidden` set on it.  This seems like an unnecessary property to set; its only other purpose that I can see is to clip the decorator's arrow image, but that image should just be cropped to be the correct height for your inputs anyway.

[2015-04-02 03:21] stoff commented on #128
I think this is legacy from something that I was doing when I originally created decorator select using pointer-events. I don't recall the details, just that I needed it for some reason.  kill it, please.

[2015-04-02 03:52] stoff commented on #74
http://caniuse.com/#feat=flexbox
crazy thought but maybe we shouldn't worry about non-supported browsers?  depending on who's stats (ex: [StatCounter](http://gs.statcounter.com/#browser_version_partially_combined-ww-monthly-201403-201503-bar) or  [NetMarketShare](http://www.netmarketshare.com/report.aspx?qprid=2&qptimeframe=M&qpsp=194&qpch=350&qpdt=1&qpct=3&qpcustomd=0&qpcid=fw433014&qpf=16&qpwidt

[2015-04-02 04:23] elseloop commented on #128
“kill it, please” is how all bug reports should end!
![](http://i.giphy.com/wvFrJa4aWKuvm.gif)

[2015-04-02 14:30] ajmueller commented on #74
Yes, we would definitely do the work in a feature branch.  We've been following Gitflow for development.

I like the idea of not having a fallback, though at that point there would basically be no need for mixins of any kind.  With autoprefixer adding the older syntaxes for us, the only thing we need to do is add the W3C standard syntax to get flexbox to work.

[2015-04-03 00:23] ajmueller opened #129 "Possible Browserify Bug"
I ran into a bug on a client project with Browserify 9.0.5.  9.0.4 and older had no issues.  Node couldn't find Browserify for some reason.  Has anyone run into this issue?  We may need to post a hotfix release to fix this since our current `package.json` has Browserify set to `~9.0.3`.

[2015-04-04 04:21] #129 closed

[2015-04-04 17:48] ajmueller commented on #90
@devinrayolsen since you said you'd like to research this, please post any findings here for discussion.

[2015-04-04 18:06] ajmueller opened #131 "Analyze Build Redux"
Before the current iteration of the build system was built by @kamsar, we had an "analyze" build.  That build went the way of the Dodo due to the driver architecture of the build process (so @kamsar if this idea is totally impossible, let me know), but I think it may be worth discussing again considering our recent internal discussions around practice groups and standards.  Those standards could b

[2015-04-04 20:48] kamsar commented on #131
tbh I think any sort of analysis is a bit toothless as long as it's something optional you have to run (which is why it was removed during the build update).

IMO, if analysis is brought in it should run as part of the build and *fail* the build if analysis finds problems. Yes, you may have to disable some analysis features you dont agree with. But the old analyze build was never used.

The script

[2015-04-05 03:57] jbascue commented on #131
That model works for Visual Studio.

I miss the analysis and liked where Alex was going with the idea of
bringing it back, but I really like the idea of it being integrated right
into the build like this a lot. It enforces standards that much better.
On Sat, Apr 4, 2015 at 1:48 PM Kam Figy <notifications@github.com> wrote:

[2015-04-08 16:18] stoff commented on #131
Just would like to add to the chorus of "should be part of the build", however, we'd want to look a little more closely at annoyances this may cause in a watch build.

Specifically I'm thinking of times when an unnoticed JS error has stopped my watch and I don't notice until after I've already noticed the bad save, fixed the issue, and then refreshed my browser (only to discover, shock!, that my c

[2015-04-08 18:01] ajmueller commented on #109
Following today's tech meeting, here are some points for discussion:
- Elimination of duplicate markup in PHP templates and CSS comments used for Styledown
- Using Jade/Twig/etc. as a method of doing all of our templating as a potential means of eliminating such duplication
- Scope of Style Guide vs. Pattern Library and the audiences for each

Overall it seems that we, as an agency, have bigger di

[2015-04-08 18:34] jbascue commented on #109
I think it makes sense to define our intended audiences (defined by roles) which in turn will help us form a more complete problem statement to work from and help us determine the appropriate deliverable for each.

As I see it, our audiences could generally fall into these categories and each have different needs:

- Everyone
  - Stakeholders, creative, UX, content entry, project management, devel

[2015-04-08 19:29] kamsar commented on #109
Sounds like a job for a working group @stoff :)

[2015-04-08 19:59] ajmueller commented on #109
:+1: @kamsar

Some reading that I think will help inform our decisions:
- https://medium.com/@operatino/living-style-guide-tools-in-depth-overview-28cfffb92d05
- http://alistapart.com/article/creating-style-guides
- http://24ways.org/2011/front-end-style-guides
- https://speakerdeck.com/hagenburger/style-guide-driven-development

(the last three are linked to in the first article)

[2015-04-09 04:57] devinrayolsen commented on #90
A project I'm working on right now uses grunt Spritesmith; it's pretty amazing and easy to use. There are two gulp versions (the one linked above is the correct working one), both inherit the same custom options that come with the standard npm Spritesmith module.

I went ahead and setup a new feature/spritesmith branch this afternoon, so give it a try.
Just drop your loose image files in src/img/c

[2015-04-09 05:26] kamsar commented on #90
Would there ever be a use case for a project to need more than one compiled
sprite image?
On Wed, Apr 8, 2015 at 9:57 PM devinrayolsen <notifications@github.com>
wrote:

[2015-04-09 06:10] devinrayolsen commented on #90
Should really try to promote the idea of one sprite to rule them all for many reasons. That said, I could see the need for wanting to make more than one sprite for multi site purposes etc.

We can support this but have a few decisions to make:

One option is we can make all images with in the root of  src/css/img/sprite-files/*.* always compile out to compiled-sprite.png (or maybe main-sprite.png

[2015-04-09 14:39] kamsar commented on #90
I like that subdirectory idea. For example:

`src/img/css/sprite-files/monkey/foo.png`

would transfer into:

`dist/img/css/sprites/monkey.png`

(or something similar)

That'd allow for creating arbitrary numbers of sprites AND naming the output file via the parent folder. Thoughts?

[2015-04-09 15:28] ajmueller commented on #90
Thanks for putting this together @devinrayolsen!  Just a couple notes:

- Can you change the variables to be camel cased to match other variables?
- Should [this line](https://github.com/connectivedx/Phoenix/blob/feature/spritesmith/Assets/src/css/variables/_sprites.scss#L24) use the previously defined variables for x, y, offset-x, offset-y, etc.?
- The variables might be good candidates for a map

[2015-04-09 15:30] ajmueller commented on #131
:+1: for writing to a log.  That was one feature about our previous analyze build that I wasn't a fan of:  only console output.

[2015-04-09 15:49] kamsar commented on #131
`$ build-dev.command > build.log` :)

Saucy console tricks aside, if your error list is really _longer than your terminal buffer_ uh...that's a problem.

[2015-04-09 15:59] ajmueller commented on #131
Ooooh, nice.  That would seemingly be easy to incorporate into the shell scripts then, right?  I personally find it nicer to read a file in a text editor than a console window, so having a consistent log would be nice.

[2015-04-09 18:49] kamsar commented on #131
http://en.wikipedia.org/wiki/Tee_%28command%29 would work to send to console AND log
Some of the validators may also have built in file logging options.

[2015-04-09 20:36] devinrayolsen commented on #90
There is an opportunity to hook into the variable names and format them in the sprite driver, however the variables are reflective of the actual loose file names. If the desire for camel case vars is needed, simply changing the loose file's name to camel case. I don't think its wise to have the variable pattern not match loose file name's pattern; will cause lots of typos or double checking at the

[2015-04-10 21:46] devinrayolsen commented on #90
@kamsar, I've started the process for the sub folder sprite buildout. There is no native way to combine the piped css processes into the same file with out a little fs support, but still do able.

@ajmueller, I just pushed a few changes to include a new /build/lib/sprite.handlebars template file that gives us control to both clean up the variables/_sprite.scss file, but also setup mapping. Should

[2015-04-15 19:49] ajmueller commented on #90
@devinrayolsen, @elseloop and I were just working on a client project and were thinking that social icons would make for a good demo in Phoenix.  They're used in almost every project and would be relatively quick to put together an example.  We'd definitely want an @2x version as well for high-resolution displays.  Thoughts?

[2015-04-16 20:31] ajmueller commented on #90
@devinrayolsen here's a good sprite example from a client that has social icons:  http://fed.isitedesign.net/content/ohsu-psr-build/_resources/img/css/sprite@2x.png

[2015-04-17 16:40] devinrayolsen commented on #90
Great idea guys.

Ok from the top, gulp.spritesmith has retina support but requires every image we sprite now to be accompanied with a retina version or build wont complete with warning about sprite mismatch. Not really a problem as discussed yesterday @ajmueller, but wanted to put a reminder up.

That said, the guy who wrote gulp.spritesmith then decided to ignore his own rule by producing mass a

[2015-04-17 16:53] elseloop commented on #90
I have literally nothing of value to add here, I just wanted to say I’m *really* excited about having this resource and reading how close you are, @devinrayolsen, I'm like

![](http://i.giphy.com/Gc0rAVLjgdPfq.gif)

Like I said, nothing of value. Just a drive-by :+1:

[2015-04-17 17:52] stoff commented on #90
Seriously.  he's sitting behind me and doing that.  MAKE IT STOP.

[2015-04-18 00:41] devinrayolsen commented on #90
@kamsar multi-sprite building is completed or least up.
Having said that, some stuff had to change about the setup of multi-sprite, we could not do the auto-magic method for path conflicts if a person also configures the same path with in the gulpfile.js driver path. Thus, instead of trying wrangle with this, figured it was trying to tell me something and left the ability to define more sprites wi

[2015-04-22 15:07] ajmueller commented on #90
I'm just now catching up.  This is awesome, Devin, thanks.  I'm looking forward to testing it out (it looks like Dan has already integrated it on a client project he and I are working on).

[2015-04-22 16:53] ajmueller opened #132 "Right-to-left Language Support"
Matthew brought up right-to-left language support as a feature idea.  Some potential reading/concepts:

- http://www.matanich.com/2013/09/06/rtl-css-with-sass/
- http://www.sitepoint.com/manage-rtl-css-sass-grunt/ (though of course we'd use Gulp)

[2015-04-22 16:57] ajmueller opened #133 "Yeoman Generator"
In our tech meeting just now it was mentioned that the author meta tag was left to the default value on a recent site which caused issues with posting links to Facebook (the post would be attributed to the author in the meta tag).  As a possible solution to this, we could set up a Yeoman generator to prompt us for a couple of attributes when beginning a site:

- Author (set to client)
- Apple Mobi

[2015-04-22 19:07] stoff commented on #109
Chris Coyier recently weighed in on [Where Style Guides Fit Into Process](https://css-tricks.com/where-style-guides-fit-into-process/).  His conclusion?  "There are no answers"

[2015-04-28 21:56] ajmueller opened #134 "Shifted Column Margin Calculation"
When push is used without pull, margins can be calculated incorrectly.  As seen below, the Secondary column does not sit flush against the right side of the containing row despite the sum of the Primary width, Secondary width, and Secondary push equaling the total number of columns in the grid.  The push amount is exactly one `$gutterWidth` short of pushing the Secondary column to be flush against

[2015-04-29 17:58] ajmueller commented on #81
**NOTE**:  when we change this, we also need to make the same change to the push and pull mixins.

[2015-04-29 20:02] chadian opened #135 "Adding ES5 Shim for better Array functions support"
There tends to pop up a few situations where using array methods would be nice without having to use jQuery's helpers. The jQuery helpers don't allow you to chain the array functions since it expects the array as a parameter. Most browsers have these natively built in, it's only for support with IE8 I believe. If IE8 support is being dropped sooner than later, then I believe there's no point in ad

[2015-04-29 23:28] ajmueller opened #136 "Responsive Tabs Replacement"
In a recent project we determined that the [responsive tabs system we use](https://github.com/petelove666/Responsive-Tabs) was not sufficient for our needs.  This has occurred on other projects, too, and considering the frequency is increasing, it's time to look for a new responsive tabs plugin.  I [found one](https://github.com/jellekralt/Responsive-Tabs) that checks a lot of the requirements box

[2015-04-29 23:32] ajmueller opened #137 "Phoenix Feathers"
@elseloop and I have discussed an idea a bit that I'd like to get in front of the group:  we call it Phoenix Feathers.  The idea here is that UI components, such as responsive tabs, modals, tooltips, etc. would be removed from the base of Phoenix and created as "Feathers" that you could install to extend Phoenix's base.  To compare it to another framework, this would make Phoenix analogous to [Bou

[2015-04-30 14:59] ajmueller commented on #135
I was discussing this recently with Jiro and @stoff and I discuss it somewhat often.  In the next couple months I would imagine we'd have a release that removes IE8 support.  The official end of life of IE8 will be in January and new SOWs that we sign will begin to remove IE8 support very soon (in fact, it's already begun).  Ideally we would completely drop IE8 support from master and refer anyone

[2015-04-30 16:16] chadian commented on #135
Cheers to that, I suppose this can be closed then and I'll just avoid using some of these methods for a few more months.

[2015-04-30 16:16] #135 closed

[2015-04-30 16:39] ajmueller commented on #135
I don't see anything wrong with relying on these methods and shims when you need to; we did that with Panoptes recently.  It just might not be necessary for the main Phoenix project as part of the default build.

[2015-05-05 22:56] ajmueller commented on #137
Based on a discussion with @chadian, this may be possible with [Eyeglass](https://github.com/sass-eyeglass/eyeglass).

[2015-05-07 17:30] chadian opened #138 "Add lodash to Phoenix"
It's a base library that would easily save us a lot of time. It has a simple, clean API, is battle tested, and straight forward documentation. Covers a decent chunk of utility functions that we would probably end up writing ourselves each time, or worst the long hand form alternative. It's IE9 and up which should work, since we are focusing on dropping support for IE8.

[2015-05-08 15:17] ajmueller commented on #138
It looks like it has its modules [separated pretty nicely on NPM](https://www.npmjs.com/browse/keyword/lodash-modularized).  Do you think it would be better if we had more education about the modules available instead of including the whole library in the base of every project?  Let's chat about this soon.

[2015-05-19 15:53] kamsar opened #139 "Shrinkwrap dependencies for releases"
Currently if a package depends on another package with a non-exact version (e.g. ^1.0.0) the build can break later if a new version of that package is released that causes problems.

It looks like `npm shrinkwrap` solves this problem by pinning all dependency versions:
http://blog.nodejs.org/2012/02/27/managing-node-js-dependencies-with-shrinkwrap/

[2015-05-19 15:55] kamsar opened #140 "Automatically flatten windows dependencies?"
https://www.npmjs.com/package/flatten-deps purports to flatten the node_modules folder to avoid long filenames.

Though we work around this in our scripts already, it might be nice to test the windows builds with automatically executing flatten-deps and see if they work well. Would mean you could clear deps without resorting to 7-zip file manager or npm-nuke.

[2015-05-21 00:19] jdalton commented on #138
:+1:

[2015-05-21 14:51] ajmueller commented on #138
@jdalton thanks for checking this out!  @chadian and I discussed this a week or so ago and my only hesitation about adding it to our base build is that it would add ~40% to our base JavaScript .  I am an advocate for more education internally about what features lodash has so our devs can add only the modules they need for each project.  The sites we build tend to not be terribly JavaScript heavy

[2015-05-29 22:18] ajmueller commented on #64
Brad Frost has [a great list of patterns](https://bradfrost.github.io/this-is-responsive/patterns.html#navigation).  Of these, I would say we use these the most often:

- [Multi-Toggle v3](http://webdesigntutsplus.s3.amazonaws.com/tuts/378_tessa/tessa-lt-dropdowns-21c7868/index.html) (e.g. [OHSU](http://www.ohsu.edu/xd/))
- [Multi-Level Push Menu (Covering Levels)](http://tympanus.net/Development/

[2015-06-10 22:49] ajmueller opened #141 "Z-Index Map and Function"
On recent projects, we've begun to use a z-index map and function.  Something like this for the map:

[code]

And this for the function:

[code]

[2015-06-10 23:14] ajmueller commented on #139
@kamsar I'm finally getting some time to look at Phoenix stuff.  I really like this idea and have marked it for the next release.

[2015-06-10 23:23] ajmueller commented on #139
P.S. the shrinkwrap file for 1.2.1 is 13,720 lines and 778K.  Yikes.  Thoughts on the pros and cons of managing conflicts with this vs. the rarity that dependencies have actually caused issues for us?

[2015-06-10 23:37] kamsar commented on #139
Dependencies blew up the build of 3-4 projects and necessitated some
upgrades to latest versions unexpectedly to resolve. I don't really see
shrinkwrapping as optional.
On Wed, Jun 10, 2015 at 4:24 PM Alex Mueller <notifications@github.com>
wrote:

[2015-06-11 15:25] ajmueller commented on #139
Looking at our chat log, it seems like you fixed one project by simply updating gulp-sass to 1.3.3 which was something I did in the 1.2.1 release of Phoenix.  The strange thing is that locally we were not able to recreate the build issues on at least one project, but that is likely due to an older dependency getting installed locally early on in the project.  Anyway, all the weirdness aside, shrin

[2015-06-11 15:27] kamsar commented on #139
Yes. npm-shrinkwrap should be treated like a codegen file. One possible middle ground to keep the core more flexible would be to have shrinkwrapping be part of the 'I'm starting a project with Phoenix' steps. Though missing that step could cause you major pain later.

[2015-06-11 15:29] ajmueller commented on #139
Yeah, I think it's best if we just include it as part of the core and add docs to the main readme file that explain the steps to take when you add new packages.

[2015-06-15 19:28] stoff commented on #138
Phoenix's native bias (because of what we do at Connective DX) is toward "traditional" brochureware sites.  Because of this, I'd prefer to see lodash as an option to be turned on, not off.
My thought is that it is included in packages.json as part of the build, but the actual require statement is commented out or alluded to with a comment.
My reasoning is that for most brochureware, the utilities

[2015-06-15 19:37] stoff commented on #141
um.  fancy ftw.

[2015-06-15 19:38] ajmueller commented on #141
We had that for Fancybox, but instead I changed it to "modal" for the final implementation:

https://github.com/connectivedx/Phoenix/pull/143/files

[2015-06-16 15:56] ajmueller commented on #134
**NOTE**: This only happens when `includeGutterWidth` is set to its default of `true`.  When set to `false`, this issue doesn't appear.

[2015-06-16 17:37] ajmueller commented on #134
The issue also affects pull.  Essentially when a container is pushed and intended to be visually last/flush against the right side (a.k.a. "omega") or when a container is pulled and intended to be visually first/flush against the left side (a.k.a. "alpha"), we need to add an additional gutter to the push or pull calculation, respectively.  This will be captured by adding optional `omega` and `alph

[2015-06-16 22:52] ajmueller commented on #134
Based on some reading and discussions today with @chadian, some fundamental changes to our grid system could really easily solve this.  I'm going to work on removing push and pull in favor of a "position" concept that's detailed here:

https://www.palantir.net/blog/responsive-design-s-dirty-little-secret

[2015-06-17 01:43] ajmueller commented on #90
As I'm finally getting some final time to work on Phoenix, I should provide an update here (and I'm guessing @elseloop can provide more information than I can).  We tried Spritesmith on KinderCare with fairly poor results.  @elseloop, please correct me if anything I say is incorrect.

The initial build would give us errors since some of the variables used by and created by the plugin did not yet e

[2015-06-17 16:27] ajmueller opened #146 "Clean up main.js"
Create documentReady and triggerPlugins files for the lib directory and remove all base JS from main.js.

[2015-06-17 16:30] ajmueller opened #147 "Breakpoint Utility Function"
Adds a utility function for all breakpoints in the JS lib directory.

[2015-06-17 18:07] ajmueller commented on #109
For the next release, 1.3.0, we will be adding Sassdoc.  Automatic Style Guide generation will be treated in a different release.

[2015-06-17 20:16] ajmueller commented on #146
This work was already being done on the feature/documentation branch.

[2015-06-17 23:13] ajmueller opened #150 "Automatic Style Guide generation"
Style Guide generation was originally discussed in #109, so use that issue for historical reference.  That issue was repurposed to only cover Sassdoc.  As such, this issue has been opened for a future automatically generated Style Guide feature.

[2015-06-18 18:32] ajmueller commented on #139
@kamsar I'm going to include this in the next release with the base NPM shrinkwrap documented and in use, but it may be worth research Über's own shrinkwrap in the future:

https://github.com/uber/npm-shrinkwrap

[2015-06-19 21:01] #128 closed

[2015-06-19 21:01] #134 closed

[2015-06-19 21:01] #141 closed

[2015-06-19 21:01] #81 closed

[2015-06-19 21:01] #139 closed

[2015-06-19 21:01] #147 closed

[2015-06-19 21:04] #83 closed

[2015-06-19 21:04] #109 closed

[2015-06-19 21:04] #124 closed

[2015-06-19 21:04] #146 closed

[2015-06-23 16:06] elseloop commented on #64
This would (almost certainly) be rolled into #137.

[2015-07-01 18:02] stoff opened #153 "Improve typography configuration"
I'd like to see a way to better abstract basic typographic styles so that they can be repeated in more contexts.
I've used extensions for heading styles on several projects recently, which allows those styles to be reused contextually (for example when a heading is indicated, but the style spec'd does not match the required semantic heading). I've generally placed these directly in the base typogr

[2015-07-08 22:41] elseloop commented on #140
Looks like [npm v. 3.0.0](https://github.com/npm/npm/releases/tag/v3.0.0) will have this baked in.

It should be the stable release soon (it's in beta now), so we can probably wait on this. Which is plain awesome.

[2015-07-08 22:53] elseloop opened #154 "Improve Baseline JavaScript"
The default JavaScript offerings in Phoenix are pretty slim. We have a few third party plugins, some utility functions, and not much else. It would be nice to get our baseline JavaScript offerings up to where the baseline Sass is. Most sites share a common group of additional JS functionality that we could abstract and include as a starting point. I'm thinking these could be third party code we're

[2015-07-09 20:39] chadian commented on #154
Along with just keeping inventory on the various projects, maybe we could create a repo for RFC style proposals, like ember: https://github.com/emberjs/rfcs

I imagine it would work where we would have a document that would break down our front-end libraries and plugins into categories. We could fork the repo, make the change that we are proposing, and create a pull request. Pull requests could be

[2015-07-10 17:36] elseloop commented on #154
Thanks, @chadian. I'm not sure we have the user base or overarching need for a separate rfc repo right now, though I certainly like the idea. For now, issues with the enhancement label + feature branches should continue to serve our needs (the ~~low rent~~ small-scale version of the rfc repo). I think we could include the documentation ideas you're outlining in this repo, either in the main README

[2015-07-16 18:45] kamsar opened #155 "File upload improvements"
The default file upload configuration expects custom file upload markup, e.g.:

     <button class="custom-file-upload" type="button">Select file</button>
     <input type="file" name="Media"/>

This is a bit confusing to have this unwritten markup convention (and it also `display:none`s bare `input type=file`). It also gives zero indication to the user that they've selected a file.

I propose two

[2015-07-22 21:17] devinrayolsen commented on #90
Agree, I stopped working on this in pursuit of the SVG sprite plugin.
More information around this instead as we move over to SVG everything.

[2015-07-27 22:48] devinrayolsen opened #156 "Gradient mixin has no direction option"
Our gradient mixin does not have any options to set the direction of the gradient. I've made a new branch "feature/gradient-directions" that now extends a third optional param for direction.

You can use either the four keywords of top, left, bottom and right (with fall-back of bottom), or numerical 45deg values.

Thoughts?

[2015-07-27 22:54] elseloop commented on #156
:+1:

My only note would be to put the new direction parameter into an options map in keeping with the conventions we've got in other mixins. See [aspect-ratio](https://github.com/connectivedx/Phoenix/blob/master/Assets/src/css/mixins/_aspect-ratio.scss#L17-L20) for an example.

[2015-07-27 23:29] devinrayolsen commented on #156
![Roger](http://memecrunch.com/meme/19LA5/roger-that/image.png)

Updated.

[2015-07-28 04:34] elseloop opened #157 "Sassdoc dependency blocking initial build"
Our initial build scripts do not properly `npm install` from the `sassdoc-theme` directory, so any unmet dependencies for Sassdoc throw an error on a first build of Phoenix, without much indication on how to work around it. We have logic in place already in both [build.sh](https://github.com/connectivedx/Phoenix/blob/master/Assets/src/build/build.sh#L12-L28) and [build.cmd](https://github.com/conn

[2015-07-28 17:01] stoff commented on #154
my list:
jQuery
appendAround
EventDebouncer
waypoints
masonry/isotope/packery (diminishing utility in the face of flexbox, however, still useful for some cases. also, isotope can filter.)

**re owlCarousel**, I haven't been on any projects in some time that use a carousel, and my instinct is that it's a pattern we should continue to discourage by exclusion ;-)  Based on our conversation, @chadian

[2015-07-28 17:03] stoff commented on #140
![image](https://cloud.githubusercontent.com/assets/1660824/8937830/d571ac4a-350f-11e5-8cd3-a71826ffb040.png)

[2015-07-28 17:29] stoff commented on #155
this is cogent.  not sure why exactly the current version does not show the filename; I know I (and others) have written versions of this that do show the filename.
One thing to note is that $("input[type=file]").val() will only return the filename.  the native control will show the path as well; in cases where the client desires a custom look AND the path, this pattern becomes much more complicat

[2015-07-28 17:31] stoff commented on #90
@elseloop; @devinrayolsen: I think @devinrayolsen's instinct to close this was correct; is there another issue for the SVG sprite?  seems like that task can/should be handled separately and linked here.

[2015-07-28 17:33] elseloop commented on #90
Yeah, I missed that he'd closed and reopened this. Let's close it. I'll open the new SVG sprite issue now.

[2015-07-28 17:33] #90 closed

[2015-07-28 17:34] elseloop commented on #156
Can you open a PR with your feature branch against `development`, please?

[2015-07-28 17:38] elseloop opened #158 "SVG sprite builder as part of Gulp build"
As work on #90 has (intentionally and rightfully) ended, let's research the available options for SVG sprite builders and implement the one that best suites our needs and existing build system.

Work (possibly) already started by @devinrayolsen.

[2015-07-28 17:47] elseloop commented on #155
In addition to all of the good points above, I think the fact that native `input[type="file"]`s are `display:none` in our default stylesheets is a bug we should push to remedy sooner that later. Removing that from the stylesheets seems a good candidate for a hotfix branch/stand-alone dot release.

The JS work around this (I like @stoff's outlined approach) can work alongside any work in #154. Gett

[2015-07-29 05:05] ajmueller commented on #157
On which platforms are you having issues with this @elseloop?  I tested this fairly thoroughly on Windows and Mac on fresh installs and didn't have any issues.  Then again I no next to nothing about shell or Windows bash scripting, so it's likely that there are errors :smile:

[2015-07-29 21:29] jbascue commented on #157
@ajmueller OS X. I was able to replicate the error as well.

[2015-07-29 23:15] ajmueller commented on #157
@jbascue what was the error?  It could be something as simple as a write permissions issue in which case adding `sudo` to the `npm install` commands in the scripts could fix this.

[2015-07-31 22:39] stoff commented on #155
Point of fact - the control is not `display: none`;  the button is set to `display: none` for `html.no-js` but the `input[type="file']` gets `visibility:hidden` for `html.js`.  Sass is here: https://github.com/connectivedx/Phoenix/blob/master/Assets/src/css/base/defaults/_forms.scss#L193.

I know the last time I worked on one of these `display:none` made the input unclickable, but at that time you

[2015-08-03 22:00] elseloop commented on #157
After additional attempts on both Windows 8 and OS X, it does appear to be a permissions issue, as @ajmueller suggested from his “new office” on the back nine of some golf course or whatever. I’ll investigate adding `sudo` to the build scripts...

![Just jokes.](http://www.reactiongifs.com/wp-content/uploads/2013/06/kid-deal.gif)

[2015-08-03 22:09] elseloop commented on #107
Work included in #159 covers multiple color stops and optional directions. After some internal discussions, we’re opting to hold off radial gradient support until need or desire necessitate it. Provided there are no objections or better ideas, when #159 is merged in, it will close both this and #156. Any radial-gradient requests/work can happen under an additional issue/feature branch as a stand-a

[2015-08-03 23:10] elseloop commented on #53
@stoff, did you ever wind up using [Browsernizr](https://github.com/jnordberg/browsernizr)? How'd it go?

I'll also add [Gulp Modernizr](https://github.com/doctyper/gulp-modernizr) to the list of options, which is essentially a Gulp wrapper for [Customizr](https://github.com/doctyper/customizr). (I'll also note that neither of those two repos have been updated in a couple years, though their downl

[2015-08-04 04:30] ajmueller commented on #157
@elseloop I would never work on the golf course!  That's sacrilegious!

P.S. amazing GIF.  I want to save that one to my GIF keyboard.

[2015-08-04 05:25] stoff commented on #53
@elseloop YES! It was easy and simple to use and did exactly what I wanted.  it's been some time, however, I wonder if I should revisit it.  I have to say I really like the idea of Customizr, since it seems to do the same thing but automagically, although the crotchety old man in me feels like it is safer to have manual transmissions on really big trucks.  If you follow me.

[2015-08-04 23:28] stoff commented on #53
yes
![YES](http://media.giphy.com/media/W9WSk4tEU1aJW/giphy.gif)

[2015-08-10 18:40] elseloop commented on #116
@chadian Was there ever any discussion around this? Is it still an issue?

[2015-08-11 18:00] elseloop opened #162 "Update transition mixin to allow for multiple properties"
Our [existing transition mixin](https://github.com/connectivedx/Phoenix/blob/master/Assets/src/css/mixins/_transition.scss) only allows for a single transition to be declared, though the spec allows for a comma-separated list of transitions on an element. This means developers are frequently writing the non-mixin version longhand. Admittedly, the longhand isn't that much longer, but it doesn't all

[2015-08-20 16:46] stoff opened #167 "Review templates with PHP set to report errors (dev mode)"
I'm seeing a couple of notices on the grid-system-test.php template which are only visible to me because I have my local PHP instance set to dev mode.  This issue is in addition to the issue reported in #166.

I'd like it if we could make some time to thoroughly review all PHP functionality for errors - I would hate to have integration on a PHP stack blocked because of an error Phoenix is producin

[2015-08-20 17:49] elseloop commented on #167
Yeah, I'm seeing `Notice: Undefined offset: -1` in a couple places in `grid-system-test.php`. Assuming we can write around this with a couple `array_key_exists` checks.

Looking at logs and reviewing the defaults, these and the notices you reported in #166 are the only PHP errors I'm seeing.

[2015-08-22 05:37] elseloop commented on #167
Fixed by #171

[2015-08-22 05:37] #167 closed

[2015-08-22 06:09] elseloop commented on #156
Fixed by #159

[2015-08-22 06:09] #156 closed

[2015-08-22 06:20] elseloop commented on #107
Closing now that #159 is in master.

[2015-08-22 06:20] #107 closed

[2015-08-22 06:28] elseloop commented on #150
In addition to #109, we also have #65, which essentially covers this as well. Closing this as a duplicate.

[2015-08-22 06:28] #150 closed

[2015-08-22 06:30] elseloop commented on #65
(@ajmueller's note on #150:)

Style Guide generation was [also] originally discussed in #109, so use that issue for historical reference. That issue was repurposed to only cover Sassdoc. As such, this issue has been opened for a future automatically generated Style Guide feature.

[2015-09-03 21:52] stoff opened #174 "Build system feature requests"
We're considering a rewrite of the build system. We'd love feedback on how the current system is working for you, as well as feature requests for things that you'd like to see in future versions.

Proposed direction is to stick with Gulp, move away from the "Phoenix tasks" system (so "task" will truly mean "Gulp task") and allow multiple concurrent destinations for compiled code.

Anything you'd l

[2015-09-03 22:19] ajmueller commented on #174
I'd love to see [Browser Sync](http://www.browsersync.io/docs/gulp/) replace LiveReload and [Icon Font](https://github.com/nfroidure/gulp-iconfont) replace Icomoon.  They were things I had seen/had on my wish list in my head before I left (oops @elseloop there were a couple I didn't get into Github).

[2015-09-03 22:37] jbascue commented on #174
Support for Critical CSS is going to increase and it makes a lot of sense for the more complex projects we tend to do.

- http://www.smashingmagazine.com/2015/08/understanding-critical-css/
- https://github.com/filamentgroup/criticalCSS

[2015-09-03 23:06] stoff commented on #174
@mschwa commented in email, with regards to production system integration:
As a starting point, this article may provide some insight for .Net integration…

http://www.hanselman.com/blog/IntroducingGulpGruntBowerAndNpmSupportForVisualStudio.aspx

If we already have a bower package for Phoenix then this would be the way to go. I haven’t done too much with integrating front-end packages with .Net pr

[2015-09-22 15:51] elseloop commented on #155
A nice resource on this subject: [“Styling & Customizing File Inputs the Smart Way” on Codrops](http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/).

[2015-09-24 14:35] ajmueller commented on #155
:+1: for that Codrops bit.  Slick stuff.

[2015-10-05 16:07] kamsar opened #176 "Unit testing support"
Seems like some of the modules and libraries we're doing could definitely benefit from test coverage.

I saw some pretty neat stuff at SUGCON that was done with [Jasmine](http://jasmine.github.io/) and [Wallaby](http://wallabyjs.com/).

Could easily be integrated at build time too.

[2015-10-05 17:07] elseloop commented on #176
I absolutely agree. The unofficial Automate All the Things! roadmap I've been carting around in my head has a bullet point to get everything in place for and stub out JS unit testing. (This will be especially important when we pull PHP as our template language in place of some flavor of JS templates.) My goal is to make this easy enough to add to new projects that writing coverage as you go will a

[2015-10-05 20:21] ajmueller opened #177 "Update Dependencies for Node v4"
I've noticed a handful of issues with the latest major release of Node and the dependencies being used.  Here's a quick breakdown:

- `gulp` should be updated to at least 3.9
- `gulp-sass` should be updated to at least 2.0.4
- `gulp-autoprefixer` should be updated to at least 3.0.2
- `gulp-combine-media-queries` is completely broken and should be removed; it hasn't been updated in a very long time

[2015-10-05 20:54] elseloop commented on #177
Thanks, @ajmueller! I've been wanting to test this and _boom!_ you beat me to it. I'm hoping to get this all taken care of and out by Friday, should you be bored an looking to write up a PR.

![You're the Best](https://whimsyinthejar.files.wordpress.com/2015/06/giphy.gif)

[2015-10-05 21:23] ajmueller commented on #177
You just keep knocking it out of the park with these Bill Murray GIFs.

![Nice work](https://s3.amazonaws.com/rapgenius/tumblr_ljaf1lM7Xc1qh8ztro1_500.gif)

[2015-10-06 16:01] pc-pdx commented on #177
yesyes. i've just grabed a fresh checkout as of yesterday and had to manually copy [ Assets\src\node_modules\gulp-combine-media-queries\node_modules\through2\node_modules\readable-stream ] over from an existing project in order to complete a build. Seems this a [known, possible race issue](https://github.com/substack/node-browserify/issues/810), FWIW.
All that aside, i believe i'm still running no

[2015-10-08 03:39] elseloop commented on #177
Fixed in 2.2.0 release

[2015-10-08 03:39] #177 closed

[2015-10-16 19:35] elseloop commented on #137
I like the Eyeglass idea and need to dig into that more, for sure. I also just learned about [Basscss](http://www.basscss.com/) and the way they've made _every single_ module in the framework available as [a stand-alone npm package](https://www.npmjs.com/search?q=basscss) is the perfect model for what we've been talking about here.

[2015-10-26 16:42] ajmueller opened #182 "Em and Rem Function Errors"
On the latest build with a completely clean `npm install` and newest release of Node (4.2.1), I'm getting the following error:

[code]

I'd look into this more to try and help debug, but I won't have time this morning.

[2015-10-27 15:09] kamsar opened #183 "Cannot specify location of sassdoc in gulpfile"
When integrating Phoenix with other projects, it's a bit awkward that by default it emits the sassdoc hardcoded to `../../documentation/sass-api` from the driver. Everything else goes in dist, why not sassdocs?

[2015-10-27 17:21] kamsar commented on #182
I am seeing the same error on Node 0.12.7 after clearing my node_modules.

[2015-10-27 17:25] kamsar commented on #182
This also affects `_rem.scss`

I was able to eliminate the build error - I'm not sure if it's the 'right' solution or not - by adding a default value for the variable (similar fix to `_em.scss`):

[code]

[2015-10-29 19:50] elseloop commented on #182
Thanks, @ajmueller & @kamsar. I’ve also confirmed this on a clean install. My initial guess is that the [LibSass 3.3 release](https://github.com/sass/libsass/releases/tag/3.3.0) is causing this. I’d bet variable declarations have somehow changed. I need to dig in and read through those release notes more. (Tomorrow's Phoenix Friday, right?)

[2015-11-02 22:45] chadian commented on #182
TLDR: Define variables outside conditional blocks.

Test environment:
[code]

Running `node-sass test.scss` with test.scss:

**Working**
[code]
Output:
[code]

**Not working**
[code]
Output:
[code]

Only difference was defining the `$output` at the top. My theory is that as part of the new blazing fast versions of libsass interprets variables is that it expects them to be setup/declared in the sam

[2015-11-30 17:54] elseloop opened #185 "Review metadata in `<head>`"
A placeholder/reminder to look at how we're boilerplating (sure, let's call that a word) the assorted metadata in the `<head>` of documents—specifically the assorted icons and sharing/embed meta tags—to ensure they're up to date and as efficient as possible. A recent point of reference from Jeremy Keith that will help in this:

https://adactio.com/journal/9881

[2015-11-30 17:57] elseloop commented on #183
As we're currently working on a rewrite/rethink of our build system, I'm pushing this onto that work. Keeping it open, though, so it remains a concern.

[2015-12-01 19:52] elseloop commented on #182
Fixed in 2.2.2 release

[2015-12-01 19:52] #182 closed

[2016-01-14 14:56] pc-pdx commented on #157
Mee too. I have nothing helpful to add to this conversation. Unless, you .. well, no...
![](http://www.reactiongifs.com/r/giphy1.gif)

[2016-01-14 17:34] pc-pdx opened #187 "Python dependency?"
Build problems afoot on azure hosted vm of win server2012R2 datacenter.
There seems to be a surprise dependency on Python. This doesn't necessary mean there's an issue other than we should be aware of the dependency. Raising the flag here in case this is something that should be discussed more?

# errr:
gyp ERR! configure error
gyp ERR! stack Error: Can't find Python executable "python", you can s

[2016-01-14 17:43] kamsar commented on #187
Interesting. I do not have Python installed and I've done builds of 2.2.1 recently.

Perhaps a npm package updated and added a dependency?

[2016-01-14 18:15] elseloop commented on #187
Looks like `pangyp` was [removed from node-sass last September](https://github.com/sass/node-sass/commit/35aa6dd63152c42956242dd6588d6f796bbc1243), when that project was deprecated, and replaced with [`node-gyp`](https://github.com/nodejs/node-gyp). The version of `gulp-sass` defined in our most recent package, where this dependency is coming from, is only one minor release behind stable, and look

[2016-01-15 21:07] pc-pdx commented on #187
I'm attempting to run Phoenix 2.2.1
I can build locally but, of course, it's a big no go on the production server (liftcdx).
I was able to reproduce this a few times and eventually did install python 2.7.0 in order to move on to the next error.  I am no longer able to see this particular error referencing python post install... I DUNNO anything beyond that `node-sass` is a giant `pain-in-the-sass`

[2016-01-28 23:38] chadian commented on #116
Looks like it's still an issue.

[2016-01-28 23:54] ajmueller commented on #116
I'm digging the response time for each comment.  See you guys in 6 months!

[2016-01-31 01:51] devinrayolsen opened #188 "Replace PHP Templates"
@elseloop Lets use this ticket to keep an on going conversation about PHP template shift.

I know we are working on a Handlebars version to replace our PHP templates, but I thought it might be worth while to show how Jade template engine would work (https://github.com/connectivedx/Phoenix/tree/feature/jade-templates). Jade is still widely used and actually comes with the Node Express for applicati

[2016-01-31 19:42] ajmueller commented on #188
I've been using Jade on a lot of projects lately and LOVE it.  Plus it's [being renamed to Pug](https://github.com/pugjs) and who doesn't love pugs?!

I think the only concern might be how back-end devs would be able to digest the compiled HTML templates.  Having PHP templates broken out into easily digestible pieces that line up well with Sitecore or other CMS components makes it easy for them to

[2016-01-31 20:08] devinrayolsen commented on #188
@ajmuller Good point. I did add a /inc/components/ folder for us to house our different include components to our templates (I think something we are trying to do more often now), however I too wonder if these would be easily digestible for backed implementations.

[2016-01-31 20:25] ajmueller commented on #188
@devinrayolsen ah, very nice.  Since the compiled HTML results in those components being incorporated into other HTML, though, the best way (I would imagine) to help back-end devs would be to add `'./templates/inc/**/*.jade'` to the paths property of the HTML rendering config option.  This, along with comments in the Jade templates to help with context, would allow back-end devs to consume the mar

[2016-01-31 20:34] devinrayolsen commented on #188
@ajmuller Great point, thanks! Updated.
Any suggestions on getting production and dev builds to run this new html driver?
Looks like only watch is available.

[2016-01-31 22:32] ajmueller commented on #188
@devinrayolsen what do you mean by "top level files?"  Are you referring to the templates at the top level of the templates directory vs. those in the `inc` directory?  I deleted the `dist` directory and ran the production and dev builds and everything looked good.

- all .jade files immediately located in `src/templates` (and not in sub-directories) were compiled and moved to `dist/`
- all .jade

[2016-01-31 23:06] devinrayolsen commented on #188
Sorry by top level I mean root of the checkout along side /Assets and /Documentation.
I could be wrong but I thought dev build at the very least (like build watch is doing now) would create html files and /inc folder at root of checkout. No?

[2016-02-01 00:42] ajmueller commented on #188
Oh right, so by top level you mean how any other human would interpret top level.  My bad!

That's a good question and it appears that it's supposed to be doing that according to the output property.  It does do that with the current PHP output.  Perhaps @kamsar could enlighten us.

[2016-02-01 14:25] kamsar commented on #188
You got me, it's been a while since I wrote that stuff.

[2016-02-01 17:11] ajmueller commented on #116
@devinrayolsen maybe this is related to the Jade template output issue?

[2016-02-01 17:49] devinrayolsen commented on #116
@ajmueller Correct. I just took the comments off that other ticket cause I realized it's not any config option I can change (and distracts from the conversation).

In my case, old PHP driver is not a driver at all, so files get copied over under all builds correctly. Once you use a driver for the task, the output option will no longer work correctly (that's what I'm experiencing at least).

[2016-02-23 18:23] #187 closed

[2016-02-23 18:25] pc-pdx commented on #187
closed as weird. Two fresh checkouts against latest base have shown no issue.

[2016-02-23 18:29] elseloop commented on #187
node-gyp put out [a new release](https://github.com/nodejs/node-gyp/releases/tag/v3.3.0) last week, the first since you opened this. Haven't read the changelog yet, but I'm guessing that may have addressed the issue.

[2016-03-22 20:58] krambuhl opened #189 "Implement Watchify for js bundling."
Browserify doesn't have a caching mechanism built in, so when running the `build-watch` build process, javascript edits take 2-4s to completely bundle.   [Watchify](https://github.com/substack/watchify) solves this issue by caching and rebuilding only the files that have changed.

This is a straightforward change, but because of how watchify is architected, the gulp task must be configured in a no

[2016-04-08 19:32] elseloop opened #190 "Update gulp-sass version"
Dependency changes between where we are (`~2.0.4`) and latest (`^2.2.0`) are causing build headaches.

[2016-04-08 19:38] #190 closed

[2016-04-27 21:00] stoff opened #193 "Update columns mixin to prevent @extend being called within @media rules"
The column mixin previously changed to remove the arbitrary breakpoint, and is now used (almost) exclusively within `@media` rules.  It still contains two `@extend` directives, however, which are not permitted within `@media` rules.  The extends can be seen in [mixins/grid/_semantic-grid.scss](https://github.com/connectivedx/Phoenix/blob/master/Assets/src/css/mixins/grid/_semantic-grid.scss) on [l

[2016-05-02 16:29] elseloop commented on #193
Fixed in 2.2.4

[2016-05-02 16:29] #193 closed

[2016-05-02 16:30] elseloop commented on #185
[Potential resource here](https://github.com/joshbuchea/HEAD).

[2016-05-11 14:57] pc-pdx commented on #187
Ran into this again.
It appears related to gulp-sass via node-gyp( @v3.3.1)
noting headache for future pain relief,ihope.

[2016-05-11 15:12] kamsar commented on #187
I think this occurs when node-sass fails at getting binaries for your OS and tries to run a build from source. Which requires python and a pretty specific VS setup (C++, et al, special configs if you don't have VS2013, etc). It's ugly.

[2016-05-12 17:19] elseloop commented on #187
(Just to piggyback on this and help clarify for anyone else running up against it in the future.)

@kamsar is right about the cause of the issue, which is why we see it mostly on Windows machines, where there's no python by default. The failure seems to only happen with certain combinations of Node and `gulp-sass` versions being used together. As best as I can tell, if you're running a version of

[2016-05-12 21:04] elseloop commented on #190
If you have landed here after running into this issue on a project, please see [this comment](https://github.com/connectivedx/Phoenix/issues/187#issuecomment-218825545) on #187 for assistance.

[2016-08-19 19:59] elseloop opened #196 "Sass sourcemaps no longer working"

[2016-08-19 20:18] #196 closed